*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 main{
    height: 100vh;
    width: 100%;
    background-color: #000;
    float: left;
    margin-top: 5vh;
 }

 .jogo{
    height: 30vh;
    width: 100%;
    background-color: #fff;
    margin-top: 5vh; 
    float: left;
 }
 .skin{
    height: 22vh;
    width: 18%;
    background: red;
    margin-left: %;
    float: left;
    margin-left: 1%;
    
 }
